.about {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: gray;
}

.welcome {
    padding-bottom: 30px;
}

/*
    ====================================
    Main Styles
    ====================================
*/

.main-content {
    width: 80%;
    margin: 0 auto;
}

.segment {
    width: 100%;
}

/* 
    ====================================
    Presentation
    ====================================
*/

